#
# Build ignores
#
#.*
*.o
*.o.*
*.a
*.so
*.so.*
*.1.gz

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
smc-command/smc.o

#
# Backups / patches
#
*~
*.un~
*.orig
*.rej
/*.patch

#
# debugging and editor stuff
#
core
.gdb_history
.gdbinit
.*.swp
*.gcda
*.gcno
*.gcov

# Mac OS
.DS_Store
._.DS_Store
